@font-face {
  font-family: "PPMori-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('PPMori-Regular'), local('PPMori-Regular'),
    url("../fonts/PPMori-Regular.woff2"),
    url("../fonts/PPMori-Regular.woff");
}

@font-face {
  font-family: "SuisseIntl-Book-WebS";
  src: url("../fonts/SuisseIntl-Book-WebS.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Book-WebS.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl-Book-WebM";
  src: url("../fonts/SuisseIntl-Book-WebM.woff") format("woff2"),
    url("../fonts/SuisseIntl-Book-WebM.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl-Book-WebXL";
  src: url("../fonts/SuisseIntl-Book-WebXL.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Book-WebXL.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl-Regular-WebXL";
  src: url("../fonts/SuisseIntl-Regular-WebXL.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Regular-WebXL.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl-Light-WebXL";
  src: url("../fonts/SuisseIntl-Light-WebXL.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Light-WebXL.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
