$font-ppmori: "PPMori-Regular", sans-serif;
$font-suisse: "SuisseIntl-Book-WebXL", sans-serif;
$font-suisse-r: "SuisseIntl-Regular-WebXL", sans-serif;
$font-suisse-l: "SuisseIntl-Light-WebXL", sans-serif;

$color-white: #fefcff;
$color-pink: #edbfff;
$color-black: #0f0d0d;

$mobile-breakpoint-s: 550px;
$mobile-breakpoint: 1024px;
$tablet-breakpoint: 1280px;
$laptop-breakpoint: 1440px;

$spacer: 8vw;
$gutter: 6vw;

$mobile-spacer: 4rem;
$mobile-gutter: 1.5rem;
