<div class="footer-spacer bg__trigger footer-trigger">
  <footer>
    <div class="grid">
      <h1 class="st__headline headline__footer lg">Start a project</h1>
      <a class="btn__circle" href="/contact.html">
        <p>Get in Touch</p>
      </a>
      <h2>Create an experience that’s as remarkable as your business.</h2>
    </div>
    <div class="row">
      <div class="col">
        <span>General Inquiries</span>
        <a href="mailto:hello@duo-studio.co" class="cursor__hover --highlight"
          >hello@duo-studio.co</a
        >
      </div>

      <div class="col">
        <span>Follow Us</span>
        <div class="row">
          <a
            href="https://www.instagram.com/duostudio_co/"
            target="_blank"
            rel="noopener noreferrer"
            class="cursor__hover --highlight"
            >Instagram,</a
          >
          <a
            href="https://www.linkedin.com/company/duostudio/"
            target="_blank"
            rel="noopener noreferrer"
            class="cursor__hover --highlight"
            >LinkedIn</a
          >
        </div>
      </div>

      <div class="col copyright subtitle">
        &copy;2023 Duo Studio. <br />All Rights Reserved.
      </div>
    </div>
  </footer>
</div>
