<div class="client-images">
    <div class="client-images__mentions">
        <img
        srcset="/assets/home/home-mentions-verizon.webp 580w"
        sizes="30vw"
        src="/assets/home/home-mentions-verizon.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="435"
        />
        <img
        srcset="
            /assets/home/home-mentions-awwwards-honorablemention.webp 580w
        "
        sizes="30vw"
        src="/assets/home/home-mentions-awwwards-honorablemention.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="435"
        />
        <img
        srcset="/assets/home/home-mentions-awwwards-mobile.webp 580w"
        sizes="30vw"
        src="/assets/home/home-mentions-awwwards-mobile.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="435"
        />
        <img
        srcset="/assets/home/home-mentions-mindsparkle.webp 580w"
        sizes="30vw"
        src="/assets/home/home-mentions-mindsparkle.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="435"
        />
        <img
        srcset="/assets/home/home-mentions-orpetron.webp 580w"
        sizes="30vw"
        src="/assets/home/home-mentions-orpetron.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="435"
        />
    </div>

    <div class="client-images__clients">
        <img
        srcset="/assets/home/client-amparo.webp 580w"
        sizes="30vw"
        src="/assets/home/client-amparo.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-apollo.webp 580w"
        sizes="30vw"
        src="/assets/home/client-apollo.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-cruefilms.webp 580w"
        sizes="30vw"
        src="/assets/home/client-cruefilms.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-finturity.webp 580w"
        sizes="30vw"
        src="/assets/home/client-finturity.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-gata.webp 580w"
        sizes="30vw"
        src="/assets/home/client-gata.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-genimex.webp 580w"
        sizes="30vw"
        src="/assets/home/client-genimex.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-infinitytech.webp 580w"
        sizes="30vw"
        src="/assets/home/client-infinitytech.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-innercosmos.webp 580w"
        sizes="30vw"
        src="/assets/home/client-innercosmos.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-landrec.webp 580w"
        sizes="30vw"
        src="/assets/home/client-landrec.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-lumina.webp 580w"
        sizes="30vw"
        src="/assets/home/client-lumina.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-madegood.webp 580w"
        sizes="30vw"
        src="/assets/home/client-madegood.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-miraclemaids.webp 580w"
        sizes="30vw"
        src="/assets/home/client-miraclemaids.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-mgny.webp 580w"
        sizes="30vw"
        src="/assets/home/client-mgny.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-rankpay.webp 580w"
        sizes="30vw"
        src="/assets/home/client-rankpay.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-samatahealth.webp 580w"
        sizes="30vw"
        src="/assets/home/client-samatahealth.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-tiverbatim.webp 580w"
        sizes="30vw"
        src="/assets/home/client-tiverbatim.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
        <img
        srcset="/assets/home/client-uncommon.webp 580w"
        sizes="30vw"
        src="/assets/home/client-uncommon.webp"
        alt="cursor-image"
        loading="lazy"
        width="580"
        height="359"
        />
    </div>
</div>