<div class="client-images">
    {{ range .collaborators }}
    <div class="client-images__{{ .group.headline | lower }}">
        {{ $h := "435"}}
        {{ if strings.Contains .group.headline "Clients" }}
            {{ $h = "359" }}
        {{end}}
        {{ range .group.row }}
        <img
            srcset="{{ .image | absURL }} 580w"
            sizes="30vw"
            src="{{ .image | absURL }}"
            alt="cursor-image"
            loading="lazy"
            width="580"
            height="{{ $h }}"
        />
        {{ end }}
    </div>
    {{ end }}
</div>