<section id="clients" class="bg__trigger">
  <div class="row collage">
    <div class="st__line"></div>
    <div class="content">
      <p class="subtitle"> {{ .title }}</p>
      {{ range .service }}
      <a
        class="hover__headline cursor__hover --highlight"
        href="/studio.html#strategy"
      >
        <h1 class="st__headline lg" id="strategy">{{ .headline }}</h1>
        <h1 class="lg" id="strategy">{{ .headline }}</h1>
      </a>
      <img
        srcset="{{ .image.source }} {{ .image.width }}w"
        src="{{ .image.source }}"
        sizes="(min-width: 1024px) {{ .image.sizes }}"
        class="{{ .headline | lower }} minor"
        alt="process-image"
        width="{{ .image.width }}"
        height="{{ .image.height }}"
      />
      <img
        srcset="{{ .image_2.source }} {{ .image_2.width }}w"
        src="{{ .image_2.source }}"
        sizes="(min-width: 1024px) {{ .image_2.sizes }}"
        class="{{ .headline | lower }} major"
        alt="process-image"
        width="{{ .image_2.width }}"
        height="{{ .image_2.height }}"
      />
      {{ end }}
    </div>
    <div class="st__line bottom"></div>
  </div>
  <header class="row">
    <div class="content">
      {{ range $i, $p := .collaborators }}
        {{ if eq 0 $i }}
        <div class="no-overflow cursor__hover --highlight st__headline">
          <h1>{{ .group.headline }}</h1>
          <h1>{{ .group.headline }}</h1>
        </div>
        {{ else }}
        <div class="no-overflow cursor__hover --highlight">
          <h1 class="st__headline">{{ .group.headline }}</h1>
          <h1>{{ .group.headline }}</h1>
        </div>
        {{ end }}
      {{ end }}
      <p class="toggle subtitle">
        View
        <span class="display">
          {{ range .collaborators }}
            <span class="display__inner">{{ .group.headline | lower }}</span>
          {{ end }}
        </span>
      </p>
    </div>
  </header>

  <div class="container">
    {{ range .collaborators }}
    <div class="container__inner col -{{ .group.headline | lower }} cursor__hide">
      {{ range first 5 .group.row }}
      <a
        href="{{ .link }}"
        target="_blank"
        rel="noopener noreferrer"
        class="inner row st__text"
      >
        <div class="row wrapper">
          <h3>{{ .title }}</h3>
          <p>{{ .description }}</p>
          <p>{{ .year }}</p>
        </div>
      </a>
      {{ end }}
      
      {{ if strings.Contains .group.headline "Clients" }}
      <p class="subtitle load-more cursor__hover --highlight">
        Load More
      </p>
      {{end}}

      {{ range after 5 .group.row  }}
      <a
        href="{{ .link }}"
        target="_blank"
        rel="noopener noreferrer"
        class="inner row st__text next"
      >
        <div class="row wrapper">
          <h3>{{ .title }}</h3>
          <p>{{ .description }}</p>
          <p>{{ .year }}</p>
        </div>
      </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
