<section id="intro">
  <div class="row">
    <div class="col">
      <h1 class="st__headline">
        A creative collective built to unlock your brand’s potential.
      </h1>
      <h2 class="st__text">
        Duo Studio weaves together bold strategy and creative execution to
        design effective solutions for partners looking for a personalized
        approach to digital experiences. Born in the DMV area - now serving
        clients worldwide.
      </h2>
    </div>
    <a class="btn__circle" href="/studio.html">
      <p>Learn More</p>
    </a>
  </div>
</section>
