{{ if .IsHome }}
<section id="work">
  <div class="st__line"></div>
  <h1 class="st__headline lg">Selected work</h1>
  {{ end }}
  <div class="card-container">
    {{ range $i, $p := .Params.work.projects }}
    <a
      class="card cursor__hover st__image-container"
      data-attribute-text="view"
      href='{{ .link | relURL }}'
    >
      <div class="inner st__image" {{ if (modBool $i 2) }}data-attribute-pos="right"{{ end }}>
        <div class="img-wrapper">
        {{ if strings.Contains .image.source "mp4" }}
          <video
            src="{{ .image.source }}"
            playsinline
            muted
            loop
            autoplay
            preload="none"
          ></video>
        {{ else }}
        <img
            srcset="{{ .image.source | absURL }} {{ .image.width }}w
                    {{ range .image.sources }}
                    {{ .file | absURL }} {{ .width }}w,
                    {{ end }}"
            sizes="(min-width: 1024px) {{ .image.sizes }}"
            src="{{ .image.source | absURL }}"
            alt="project-image"
            width="{{ .image.width }}"
            height="{{ .image.height }}"
        />
        {{ end }}
        </div>
        <div class="card-info">
          <h3>{{ .title }}</h3>
          <p>{{ .description }}</p>
        </div>
      </div>
    </a>
    {{ end }}
  </div>
  {{ if .IsHome }}
  <div class="row">
    <h1 class="st__headline">{{ .Params.work.cta.headline }}</h1>
    <a class="btn__circle" href="{{ .Params.work.cta.link | relURL }}">
      <p>{{ .Params.work.cta.label }}</p>
    </a>
  </div>
</section>
{{end}}
